azure-identity==1.16.0
langchain==0.3.7
azure-search-documents==11.4.0b8
openai==1.54.4
python-dotenv==1.0.0
fastapi==0.115.5
uvicorn[standard]==0.22.0
tiktoken==0.7.0
qdrant-client==1.12.1
sentence-transformers==3.3.0
requests==2.32.3
huggingface_hub==0.26.2
langchain-community==0.3.7
datasets==3.0.2